.root-container {
  margin: 0;
  background-color: rgba(220, 231, 248, 0.5);

  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-column {
  width: 35%; /* Each column takes up 35% of the width */
  height: 100%; /* Each column takes up 100% of the height */
  margin: 0 10%; /* Margin between columns */
  display: flex;
  justify-content: center;
  align-items: center;
}
